<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
  </tr>
  <tr>
    <td></td>
    <td><%= @figure.landmarks %></td>
  </tr>
<table>

<h1><%= @figure.name %></h1>
<h3>Landmarks:</h3>
<% @figure.landmarks.each do |landmark| %>
<p><%= landmark.name %></p>
<% end %>